
<ion-view view-title="Information">
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p style="font-size:20px; font-family: 'Helvetica Neue'; color: black; align: center">
          Welcome to FixItMac!  </p>
        <p style="color: white">.</p>
        <p style="color:black"> FixItMac is a mobile application that helps you report problems in printers
          as easy as few clicks. On the home page, you will see the list of printers with red and
          green signs. These reflect the status of the printers. </p>
        <p style="color: white">.</p>
        <p style="color: black"> If they are red, it means the printer is in the process of getting fixed. 
          If the button is green, it means the printer is working. 
          When you discover a problem for any of the printers, please click the
          corresponding printer to report.  An automatic email will be generated to ITS,
        and the problem will be fixed shortly.</p>
        <p style="color: white">.</p>
        <p style="color: black">With FixItMac, there are no more printer problems! </p>
        </div>
      </div>
    </div>
  </ion-content>


