<ion-view view-title="FixItMac">
  <!--<link rel="stylesheet" type="text/css" href="style.css">-->

  <ion-nav-buttons side="right" ng-show="false">
    <a class="button icon-left ion-ios-information-outline" nav-direction="forward" ui-sref="info"></a>
  </ion-nav-buttons>
  <ion-content>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

    <div class="list">
      <!--Makes a divider for each category-->
      <div class="item item-divider" ng-repeat="locationCategory in locationCategories | orderBy:'locationCategoryName'">
        <div style="font-size:20px; padding-bottom: 10px;"><center>{{locationCategory.locationCategoryName}}</center></div>
        <!--Puts each printer in the proper location category-->
        <ion-list ng-repeat="printer in printers | orderBy:'printerName'" ng-if="locationCategory.locationCategoryID === printer.locationCategoryID">

          <a ng-if="printer.printerStatus === 0" class="item item-icon-left item-icon-right" href="#/profile/{{printer.printerID}}">
            <i class="icon ion-printer" ></i>
            {{printer.printerName}}
            <i class="icon ion-close-circled assertive"></i>
          </a>
          <a ng-if="printer.printerStatus === 1" class="item item-icon-left item-icon-right"  href="#/profile/{{printer.printerID}}" >
            <i class="icon ion-printer"></i>
            {{printer.printerName}}
            <i class="icon ion-checkmark-circled balanced"></i>
          </a>
        </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
