<ion-view view-title="FixItMac">
  <!--<link rel="stylesheet" type="text/css" href="style.css">-->
  <ion-content >

    <!--SERVER BASED CODE-->
    <div class="list">
      <div class="item item-divider" ng-repeat="locationCategory in locationCategories | orderBy:'locationCategoryName'">
        {{locationCategory.locationCategoryName}}

        <ion-list ng-repeat="printer in printers | orderBy:'printerName'" ng-if="locationCategory.locationCategoryID === printer.locationCategoryID">

          <a ng-if="printer.printerStatus === 0" class="item item-icon-left item-icon-right" href="#/profile/{{printer.printerID}}">
            <i class="icon ion-printer" ></i>
            {{printer.printerName}}
            <i class="icon ion-close-circled assertive"></i>
          </a>
          <a ng-if="printer.printerStatus === 1" class="item item-icon-left item-icon-right"  href="#/profile/{{printer.printerID}}" >
            <i class="icon ion-printer"></i>
            {{printer.printerName}}
            <i class="icon ion-checkmark-circled balanced"></i>
          </a>
        </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
