<ion-view view-title="FixItMac">
  <!--<link rel="stylesheet" type="text/css" href="style.css">-->
  <ion-content >

    <div class="list">
      <div class="item item-divider" ng-repeat="locationCategory in locationCategories">
        {{locationCategory.name}}

        <ion-list ng-repeat="printer in printers | orderBy:'name'" ng-if="locationCategory.id === printer.locationCategory">
              <a ng-if="printer.status === false" class="item item-icon-left item-icon-right"   href="#/profile/{{printer.id}}" >
                <i class="icon ion-printer" ></i>
                {{printer.name}}
                <i class="icon ion-close-circled assertive"></i>
              </a>
              <a ng-if="printer.status === true" class="item item-icon-left item-icon-right"  href="#/profile/{{printer.id}}" >
                <i class="icon ion-printer"></i>
                {{printer.name}}
                <i class="icon ion-checkmark-circled balanced"></i>
              </a>
        </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
