<!-- This has an object called printer which contains all the information of the printer for this page -->

<ion-view view-title="{{printer.name}}">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p align="right" style="font-size:30px; font-family: 'Helvetica Neue'; color: black" >
          {{printer.name}}
          <img src="img/printer.png"
               style="width: 100px; height: 100px" align="left">
        </p>
        <p style="font-size: 6px">
        </p>
        <p align="right" style="font-size: 20px";>
          no. {{printer.id}}
        </p>
      </div>
    </div>

      <div>
        <input type="submit" value="Report"
               ng-disabled ="!isChecked1 && !isChecked2 && !isChecked3 && !isChecked4" class="button button-block button-assertive button-primary" ng-click="showConfirm()">
      </div>

    <ul class="list">

      <li class="item item-checkbox">
        Out of Paper
        <a ng-if="printer.paperStatus === false"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="isChecked1" ng-disabled="{{printer.paperStatus}}===false">
        </label><br/>

      </li>

      <li class="item item-checkbox">
        Out of Ink
        <a ng-if="printer.inkStatus === false"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="isChecked2" ng-disabled="{{printer.inkStatus}}===false">
        </label><br/>
      </li>

      <li class="item item-checkbox">
        Paper Jammed
        <a ng-if="printer.jamStatus === false"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="isChecked3" ng-disabled="{{printer.jamStatus}}===false">
        </label><br/>
      </li>

      <li class="item item-checkbox">
        Other
        <a ng-if="printer.otherStatus === false"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="isChecked4" ng-disabled="{{printer.otherStatus}}===false">
        </label><br/>
      </li>

    </ul>
  </ion-content>
</ion-view>



