<!-- This has an object called printer which contains all the information of the printer for this page -->

<ion-view view-title="">

  <ion-nav-buttons side="left" ng-show="false">
    <a class="button icon-left ion-ios-home" nav-direction="back" ui-sref="main">Home</a>
  </ion-nav-buttons>
  <ion-content>

    <div class="card">
      <div class="item item-icon-left item-text-wrap">

        <p align="right" style="font-size:20px; font-family: 'Helvetica Neue'; color: black" >
        {{printer.printerName}}
        <!--<i class="icon ion-printer" style="font-size: 70px"></i>-->
        <img src="img/printer.png" style="width: 75px; height: 75px; margin-left: -40px" align="left">
        </p>
        <p align="right" style="font-size: 15px">
          {{printer.printerLocation}}
        </p>
      </div>
    </div>

    <!--Report Button-->
    <div>
      <input type="submit" value="Report" ng-disabled ="!paperChecked && !inkChecked && !jamChecked && !otherChecked" class="button button-block button-assertive button-primary" ng-click="showConfirm(paperChecked, inkChecked, jamChecked, otherChecked)">
    </div>

    <!--Checkboxes-->
    <ul class="list">

      <li class="item item-checkbox">
        Out of Paper
        <a ng-if="status.paperStatus === 0"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="paperChecked" ng-disabled="status.paperStatus===0">
        </label><br/>

      </li>

      <li class="item item-checkbox">
        Out of Ink
        <a ng-if="status.inkStatus === 0"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="inkChecked" ng-disabled="status.inkStatus===0">
        </label><br/>
      </li>

      <li class="item item-checkbox">
        Paper Jammed
        <a ng-if="status.jamStatus === 0"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox">
          <input type="checkbox" ng-model="jamChecked" ng-disabled="status.jamStatus===0">
        </label><br/>
      </li>

      <li class="item item-checkbox">
        <!-- comment out the following 4 lines out for old version and replace with Other!-->


        <span class="input-label">Other</span>
        <label class="item item-input">
          <input type="text" placeholder="Type your printer issue here">
        </label>

        <a ng-if="status.otherStatus === 0"><span class="badge badge-assertive">Reported</span></a>
        <label class="checkbox" style="margin-top:-55px">
          <input type="checkbox" ng-model="otherChecked" ng-disabled="status.otherStatus===0">
        </label><br/>
      </li>
    </ul>

  </ion-content>
</ion-view>


