<ion-view view-title="Thank you!">
  <ion-nav-buttons side="left" ng-show="false">
  </ion-nav-buttons>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <ion-content>
        <div class="item item-text-wrap item-center-fit" align="middle">
          <p style="font-size:16px; font-family: 'Helvetica Neue'; color: black" >
            {{ textToShow }}</p>
          <p style="font-size: 20px; color: white"> black space </p>
          <img ng-src= {{rewardImg}} align="middle" style="width: 100%">
        </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="col col-33 col-offset-33">
      <a  class="button icon-left ion-ios-home"
          nav-direction="back" ui-sref="main" style="font-size: 20px; text-align:center" >Home</a>
    </div>
  </ion-footer-bar>
</ion-view>
