/* Empty. Add your own CSS if you like */

.item-image{
  position: relative;
  width: 80%;
  /*height: 25%;*/
}

.item-center-fit {
  align-items: center;
  background-size: contain;
  resize: horizontal;
  margin-right: 0px;
  margin-left: 0px;
}

.larger-font {
  font-size: 40px;
  margin-left: 20px;
}
